* {
    box-sizing: border-box;
    margin: 0
}

html, body {
    background: linear-gradient(to bottom, #333, #000);
    color: #eee;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
}

.header {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 20px
}

form {
    background-color: transparent;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 35px #fff2;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 16px;
}

h2 {
    text-align: center;
    margin-bottom: 12px;
    padding: 12px;
    font-weight: 100;
    font-size: 1.3em;
}

.form_input {
    padding: 0 10px;
}

input, textarea, select {
    background-color: transparent;
    width: 100%;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #0003;
    border-radius: 4px;
    color: #ddd;
    font-family: sans-serif;
}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    resize: none;
}

label {
    line-height: 2;
}

.checkbox {
    width: auto;
    height: 10px;
}

fieldset {
    border: 1px solid #666;
    border-radius: 5px;
    padding: 10px 12px 20px 20px;
    margin: 10px;
}

legend {
    padding: 0 6px;
    color: #777;
}

a {
    color: #69f;
    text-decoration: none;
}