* {
    font-family: sans-serif;
}

table {
    margin: auto;    
    border-spacing: 12px;
    width: 100%;
    max-width: 800px;
    height: 45vh;
    box-shadow: 0 0 25px #0003;
    margin-top: 40px;
    margin-bottom: 80px;
}

td {
    color: #444
}

td, th {
    border: none;
    text-align: center;
    padding: 6px;
    font-family: sans-serif;
    border-bottom: 1px solid #0004;
    padding-bottom: 9px;
    font-size: 18px;
}

.header-total, .dato-total {
    border: none;
    padding: 12px;
    font-size: 1.2em;
    margin-top: 30px;
}

.video-audio {
    display: grid;
    background-color: transparent;
    margin-top: 100px;
}

video, audio {
    margin: auto;
}

h2 {
    text-align: center;
}

code {
    background-color: #ccc;
    padding: 2px;
    border-radius: 8px;
}

p, li {
    line-height: 2;
}